<template>
  <div class="container">

    <div class="field has-addons">
      <div class="control has-icons-left">
        <div>
          <input class="input is-rounded" type="text" placeholder="Search" v-model="query" />
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
          <ul style="position: fixed; z-index: 50; background: white; border-style: solid; border-color: #3490dc; border-width: 1px; border-radius: 1rem; box-shadow: 0 0 0 0.125em rgba(52, 144, 220, 0.25);" class="menu-list" v-if="results.length > 0 && query">
            <li v-for="result in results.slice(0,10)" :key="result.id">
              <a :href="result.url">
                <div v-text="result.title"></div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="field has-addons">
      <p class="control">
        <input class="input is-rounded" type="text" v-model="message" />
      </p>
      <p class="control">
        <button class="button is-success is-rounded" v-on:click="addPost">Agregar</button>
      </p>
    </div>

    <div v-for="pos in post">
      <div class="card" style="margin-bottom: 1em">
        <div class="card-content">
          <div class="level">
            <div class="level-left">
              <div v-if="currentID == pos.id">
                <input type="text" class="input" v-model="updated" />
              </div>
              <div v-else>{{pos.message}}</div>
            </div>
            <div class="level-right">
              <div class="buttons">
                <div v-if="currentID == pos.id">
                  <button class="button is-success" v-on:click="updatePost(pos)">
                    <i class="fas fa-save"></i>
                  </button>
                  <button class="button is-warning" v-on:click="cancelEdit">
                    <i class="fas fa-arrow-left"></i>
                  </button>
                </div>
                <div v-else>
                  <button class="button is-info" v-on:click="editPost(pos)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="button is-danger" v-on:click="deletePost(pos.id)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
export default {

  data() {
    return {
      post: "",
      message: "",
      updated: "",
      currentID: 0,
      query: null,
      results: []
    };
  },

  watch: {
    query(after, before) {
      this.searchPost();
    }
  },

  mounted() {
    this.loadList();
  },

  methods: {

    searchPost() {
      window.axios
        .get("api/post/search", { params: { query: this.query } })
        .then(response => (this.results = response.data))
        .catch(error => {});
    },

    loadList() {
      window.axios.get("api/posts").then(({ data }) => {
        this.post = data;
      });
    },

    addPost() {
      window.axios
        .post("api/posts", {
          message: this.message,
          user_id: 1
        })
        .then(response => {
          this.loadList();
        }, (this.message = ""));
    },

    deletePost(id) {
      window.axios.delete("api/posts/" + id).then(response => {
        this.loadList();
      });
    },

    editPost(pos) {
      this.currentID = pos.id;
      this.updated = pos.message;
    },

    updatePost(pos) {
      window.axios
        .put("api/posts/" + pos.id, {
          message: this.updated
        })
        .then(response => {
          this.cancelEdit();
          this.loadList();
        });
    },

    cancelEdit() {
      this.currentID = 0;
      this.updated = "";
    }
  }
};
</script>