<template>
    <div>
        <a href="/">inicio</a>
        <p>{{ msg }}</p>
    </div>
</template>
<script>
    export default{
        data() {
            return {
                msg: "Otro mensaje",
            }
        },
    }
</script>